/* login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* ヘッダーの下に配置するために上揃えに変更 */
  height: 100vh; /* ヘッダーの高さを除いた高さに調整 */
  padding-top: 80px; /* ヘッダーの高さ分のパディングを追加 */
  background-color: #e0d1ca; /* 背景色を他のページと統一 */
  box-sizing: border-box; /* パディングを含む全体の高さを計算 */
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

/* 各要素を縦に並べ、タイトルの後に改行を追加 */
.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center; /* フォーム要素を中央揃え */
}

.login-box label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
  width: 100%; /* ラベルをフォームの幅いっぱいに */
}

.login-box input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
  width: 100%; /* 入力欄の幅を100%に */
}

.login-box input:focus {
  border-color: #007bff;
}

.login-box button {
  padding: 10px;
  background-color: #006400;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.login-box button:hover {
  background-color: #008000;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
